.product-container {
  text-align: center;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product-image {
  width: 100px;
  height: auto;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
