.stopwatch {
    text-align: center;
    background: rgba(222, 187, 187, 0.441);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .buttons button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  